<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="WcfContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=wcfdatabase;AttachDbFilename=|DataDirectory|\WcfContext.mdf;Integrated Security=True;MultipleActiveResultSets=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="queueClientName" value="WcfQueueResponse"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
  </system.web>


  <system.serviceModel>
    <client>
      <endpoint 
        address="net.msmq://localhost/private/wcfqueueresponse"
        contract="WcfService.Queue.IWcfQueueResponse" 
        binding="netMsmqBinding"
        bindingConfiguration="NoMsmqSecurity" 
        name="WcfQueueResponse"/>
    </client>

    <services>
      <service name="WcfService.Service.WcfService">
        <endpoint address="" binding="wsDualHttpBinding" contract="WcfService.Service.IWcfService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service name="WcfService.Queue.WcfQueueRequest">
        <endpoint 
          address="net.msmq://localhost/private/wcfqueuerequest"
          contract="WcfService.Queue.IWcfQueueRequest"
          binding="netMsmqBinding"
          bindingConfiguration="NoMsmqSecurity" />
      </service>
    </services>

    <bindings>
      <netMsmqBinding>
        <binding name="NoMsmqSecurity">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment
      aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />

  </system.serviceModel>




  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>