<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <system.serviceModel>
    
    <bindings>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_IWcfQueueRequest">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IWcfService" />
      </wsDualHttpBinding>
    </bindings>
    
    <client>
      <endpoint 
        address="http://localhost/WCF.Service/Service/WcfService.svc"
        contract="ServiceReference.IWcfService"
        binding="wsDualHttpBinding" 
        bindingConfiguration="WSDualHttpBinding_IWcfService"
        name="WSDualHttpBinding_IWcfService">
        <identity>
          <servicePrincipalName value="host/Neverford" />
        </identity>
      </endpoint>
      <endpoint 
        address="net.msmq://localhost/private/wcfqueuerequest"
        contract="QueueReference.IWcfQueueRequest"
        binding="netMsmqBinding" 
        bindingConfiguration="NetMsmqBinding_IWcfQueueRequest"
        name="NetMsmqBinding_IWcfQueueRequest" />
    </client>
    <services>
      <service name="WCF.WindowsForms.Handler.QueueResponseHandler">
        <endpoint 
          address="net.msmq://localhost/private/wcfqueueresponse"
          contract="WCF.WindowsForms.Handler.IWcfQueueResponse"
          binding="netMsmqBinding" 
          bindingConfiguration="NetMsmqBinding_IWcfQueueRequest" />
      </service>
    </services>
  </system.serviceModel>
</configuration>